In [1]:
import pandas as pd
import random
import requests
import json

g_api = "AIzaSyDjvHNiKW1QSAkrfmUmqsiYYYV8jWMxJJk"

#Importing Raw IRS Data
irs_pd = pd.read_csv("Raw Data/IRS Dataset by County.csv")
irs_pd.head(10)

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,25120.0,14000.0,9140.0,1110.0,17260.0,...,4530.0,9068.0,70.0,97.0,0.0,0.0,2750.0,3791.0,10210.0,35026.0
1,1,AL,0,Alabama,2,300920.0,223950.0,26770.0,46400.0,156430.0,...,77720.0,45164.0,0.0,0.0,0.0,0.0,23290.0,10777.0,250850.0,296608.0
2,1,AL,0,Alabama,3,549200.0,257890.0,88300.0,194060.0,323470.0,...,312340.0,280080.0,0.0,0.0,0.0,0.0,39900.0,37545.0,494200.0,1668817.0
3,1,AL,0,Alabama,4,491350.0,200730.0,150260.0,125560.0,281320.0,...,397110.0,950375.0,30.0,20.0,0.0,0.0,70960.0,102612.0,413810.0,1177609.0
4,1,AL,0,Alabama,5,259320.0,75790.0,142750.0,34060.0,156510.0,...,250010.0,1316842.0,0.0,0.0,0.0,0.0,62330.0,133274.0,191980.0,538147.0
5,1,AL,0,Alabama,6,164700.0,26720.0,125180.0,10400.0,99550.0,...,163440.0,1389769.0,0.0,0.0,0.0,0.0,45250.0,125396.0,115550.0,376309.0
6,1,AL,0,Alabama,7,202400.0,18820.0,175890.0,5840.0,121460.0,...,201840.0,3541123.0,850.0,240.0,440.0,166.0,80640.0,371780.0,114450.0,449311.0
7,1,AL,0,Alabama,8,53390.0,4380.0,47580.0,950.0,40960.0,...,53350.0,5779823.0,20860.0,36718.0,27690.0,104622.0,29700.0,863579.0,16300.0,290677.0
8,1,AL,1,Autauga County,1,210.0,120.0,80.0,0.0,140.0,...,30.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,308.0
9,1,AL,1,Autauga County,2,3350.0,2650.0,230.0,430.0,1320.0,...,770.0,372.0,0.0,0.0,0.0,0.0,230.0,99.0,2880.0,2886.0

In [2]:
# #Removing state-level data
irs_pd = irs_pd[irs_pd.COUNTYFIPS !=0]

#Combining State and County columns to more easily merge with CDC data
irs_pd["COUNTYNAME"] = irs_pd["COUNTYNAME"] + ", " + irs_pd["STATE"]

#Removing Rows with Missing Data
irs_pd = irs_pd.dropna(how='any')

#Pulling Needed Information
irs_basic = irs_pd[["COUNTYNAME", "agi_stub", "N1", "A00200"]]
irs_basic.head(10)

            COUNTYNAME  agi_stub       N1    A00200
8   Autauga County, AL         1    210.0    1403.0
9   Autauga County, AL         2   3350.0   14437.0
10  Autauga County, AL         3   5620.0   77486.0
11  Autauga County, AL         4   5410.0  159789.0
12  Autauga County, AL         5   3420.0  163864.0
13  Autauga County, AL         6   2450.0  163709.0
14  Autauga County, AL         7   3000.0  302302.0
15  Autauga County, AL         8    360.0   61298.0
16  Baldwin County, AL         1   1710.0   13073.0
17  Baldwin County, AL         2  13400.0   53151.0

In [3]:
#Renaming Columns
irs_rename = irs_basic.rename(columns={"COUNTYNAME":"County",
                                       "agi_stub":"Adjusted Gross Income",
                                       "N1":"Number of Returns",
                                       "A00200":"Total Salaries & Wages"})

irs_rename.head(10)

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",1,210.0,1403.0
9,"Autauga County, AL",2,3350.0,14437.0
10,"Autauga County, AL",3,5620.0,77486.0
11,"Autauga County, AL",4,5410.0,159789.0
12,"Autauga County, AL",5,3420.0,163864.0
13,"Autauga County, AL",6,2450.0,163709.0
14,"Autauga County, AL",7,3000.0,302302.0
15,"Autauga County, AL",8,360.0,61298.0
16,"Baldwin County, AL",1,1710.0,13073.0
17,"Baldwin County, AL",2,13400.0,53151.0

In [4]:
#Cleaning Adjusted Gross Income
irs_rename.loc[:, "Adjusted Gross Income"] = irs_rename["Adjusted Gross Income"].astype("str")

irs_rename['Adjusted Gross Income'] = irs_rename['Adjusted Gross Income'].replace(
    {'0': 'No AGI Stub',
     '1': 'Under $1',
     '2': '1 - $9,999',
     '3': '10,000 - $24,999',
     '4': '25,000 - $49,999',
     '5': '50,000 - $74,999',
     '6': '75,000 - $99,999',
     '7': '100,000 - $199,999',
     '8': '$200,000 or more'
    })

irs_rename.head(10)

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",Under $1,210.0,1403.0
9,"Autauga County, AL","1 - $9,999",3350.0,14437.0
10,"Autauga County, AL","10,000 - $24,999",5620.0,77486.0
11,"Autauga County, AL","25,000 - $49,999",5410.0,159789.0
12,"Autauga County, AL","50,000 - $74,999",3420.0,163864.0
13,"Autauga County, AL","75,000 - $99,999",2450.0,163709.0
14,"Autauga County, AL","100,000 - $199,999",3000.0,302302.0
15,"Autauga County, AL","$200,000 or more",360.0,61298.0
16,"Baldwin County, AL",Under $1,1710.0,13073.0
17,"Baldwin County, AL","1 - $9,999",13400.0,53151.0

In [5]:
#Importing Raw CDC Data
cdc_pd = pd.read_csv("Raw Data/CDC Dataset - Heart Disease by County.csv")
cdc_pd.head()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Location 1
0,2014,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,105.3,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2013,"(55.440626, -161.962562)"
1,2014,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,211.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2016,"(52.995403, -170.251538)"
2,2014,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,257.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2020,"(61.159049, -149.103905)"
3,2014,AK,Bethel,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,351.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2050,"(60.924483, -159.749655)"
4,2014,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Overall,T2,2060,"(58.754192, -156.694709)"

In [6]:
#Removing state-level data
cdc_pd = cdc_pd[cdc_pd.GeographicLevel !="State"]

#Removing Insufficient Data
cdc_pd = cdc_pd[cdc_pd.Data_Value_Footnote_Symbol !="~"]

#Combining State and County columns to more easily merge with IRS data
cdc_pd["LocationDesc"] = cdc_pd["LocationDesc"] + ", " + cdc_pd["LocationAbbr"]

#Pulling Needed Information
cdc_basic = cdc_pd[["LocationAbbr",
                    "LocationDesc",
                    "Data_Value",
                    "Stratification1",
                    "Stratification2",
                    "Location 1"]]
cdc_basic.head()

,LocationAbbr,LocationDesc,Data_Value,Stratification1,Stratification2,Location 1
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"

In [7]:
#Renaming Columns
cdc_rename = cdc_basic.rename(columns={"LocationAbbr":"State",
                                       "LocationDesc":"County",
                                       "Data_Value":"Deaths per 100,000",
                                       "Stratification1":"Gender",
                                       "Stratification2":"Race/Ethnicity",
                                       "Location 1": "Geographical Coordinates"})

cdc_rename.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"
6,AK,"Dillingham, AK",411.6,Overall,Overall,"(59.803151, -158.181608)"
7,AK,"Fairbanks North Star, AK",305.7,Overall,Overall,"(64.809327, -146.586265)"
8,AK,"Haines, AK",295.7,Overall,Overall,"(59.140721, -135.513878)"
9,AK,"Juneau, AK",295.7,Overall,Overall,"(58.478434, -134.150437)"
10,AK,"Kenai Peninsula, AK",299.4,Overall,Overall,"(60.271254, -151.556972)"

In [8]:
#Dropping NaN Rows
cdc_rename = cdc_rename.dropna(how='any')
cdc_rename.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"
6,AK,"Dillingham, AK",411.6,Overall,Overall,"(59.803151, -158.181608)"
7,AK,"Fairbanks North Star, AK",305.7,Overall,Overall,"(64.809327, -146.586265)"
8,AK,"Haines, AK",295.7,Overall,Overall,"(59.140721, -135.513878)"
9,AK,"Juneau, AK",295.7,Overall,Overall,"(58.478434, -134.150437)"
10,AK,"Kenai Peninsula, AK",299.4,Overall,Overall,"(60.271254, -151.556972)"

In [9]:
df_merge = pd.merge(cdc_rename, irs_rename, on="County")
df_merge.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
0,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)",Under $1,100.0,0.0
1,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","1 - $9,999",1160.0,4069.0
2,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","10,000 - $24,999",1270.0,15724.0
3,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","25,000 - $49,999",1680.0,48739.0
4,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","50,000 - $74,999",1080.0,50947.0
5,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","75,000 - $99,999",690.0,42393.0
6,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","100,000 - $199,999",1050.0,98756.0
7,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","$200,000 or more",220.0,27889.0
8,AK,"Ketchikan Gateway, AK",496.9,Male,Overall,"(55.559161, -131.351892)",Under $1,100.0,0.0
9,AK,"Ketchikan Gateway, AK",496.9,Male,Overall,"(55.559161, -131.351892)","1 - $9,999",1160.0,4069.0

In [10]:
df_merge.to_csv("Clean_Data_Merged.csv", index=False, header=True)

In [11]:
unique_counties = df_merge["County"].unique()
len(unique_counties)

3000

In [53]:
random.shuffle(unique_counties)
county_pull = unique_counties[:500]
county_pull

array(['Navajo County, AZ', 'Moultrie County, IL', 'Valley County, NE',
       'San Juan County, WA', 'St. Clair County, AL',
       'Hennepin County, MN', 'Jefferson County, NY',
       'Loudoun County, VA', 'Macon County, MO', 'Washington County, MS',
       'Lunenburg County, VA', 'Edwards County, KS',
       'Eastland County, TX', 'Greensville County, VA',
       'Logan County, OH', 'Okmulgee County, OK', 'Yuba County, CA',
       'Mercer County, OH', 'Bartholomew County, IN', 'Brooks County, TX',
       'Trousdale County, TN', 'Hamilton County, KS',
       'Screven County, GA', 'King George County, VA',
       'Tyrrell County, NC', 'Camden County, GA', 'Deuel County, SD',
       'Reeves County, TX', 'Karnes County, TX', 'Montgomery County, TN',
       'Ransom County, ND', 'New Madrid County, MO',
       'Washington Parish, LA', 'Woodford County, KY',
       'New Kent County, VA', 'Cooke County, TX', 'Carson County, TX',
       'Hill County, MT', 'Victoria County, TX', 'Venango County, PA',
       'Roosevelt County, NM', 'Manatee County, FL', 'Pike County, OH',
       'Pendleton County, WV', 'Clarendon County, SC',
       'Carteret County, NC', 'Ritchie County, WV',
       'Montgomery County, KS', 'Jeff Davis County, GA',
       'Effingham County, IL', 'Sullivan County, PA', 'Goliad County, TX',
       'Toombs County, GA', 'Randolph County, WV', 'Franklin County, IN',
       'Harris County, GA', 'Lincoln County, WV', 'Arenac County, MI',
       'Bond County, IL', 'Day County, SD', 'Winnebago County, IL',
       'Floyd County, VA', 'Navarro County, TX', 'Lamar County, MS',
       'Bailey County, TX', 'Cottonwood County, MN', 'Riley County, KS',
       'Benewah County, ID', 'Frederick County, VA',
       'New Castle County, DE', 'Carroll County, OH', 'Warren County, MS',
       'Harrison County, OH', 'Franklin County, KY', 'Worth County, MO',
       'Faribault County, MN', 'Oceana County, MI', 'Garrard County, KY',
       'Pondera County, MT', 'Sabine Parish, LA', 'Montgomery County, NY',
       'Churchill County, NV', 'Crisp County, GA', 'Linn County, MO',
       'Harlan County, KY', 'Hancock County, MS', 'Big Stone County, MN',
       'Oktibbeha County, MS', 'Clark County, MO', 'Johnson County, KY',
       'St. Charles Parish, LA', 'Carroll County, IL',
       'Clinch County, GA', 'Powhatan County, VA', 'Jasper County, IN',
       'Franklin County, NY', 'Osage County, KS', 'Henderson County, TN',
       'Greene County, AL', 'Van Buren County, IA', 'Iowa County, IA',
       'Polk County, TN', 'Chicot County, AR', 'Laurel County, KY',
       'Bent County, CO', 'Van Buren County, TN', 'Wilcox County, GA',
       'Riverside County, CA', 'Campbell County, SD',
       'Rio Arriba County, NM', 'LaGrange County, IN',
       'Panola County, TX', 'Adams County, ND', 'Bottineau County, ND',
       'Montcalm County, MI', 'Fillmore County, MN',
       'Jeff Davis County, TX', 'Buena Vista County, IA',
       'Walworth County, SD', 'Hidalgo County, NM', 'Lehigh County, PA',
       'Dunn County, ND', 'Stanley County, SD', 'Craighead County, AR',
       'Schuylkill County, PA', 'Martin County, FL',
       'Mille Lacs County, MN', 'LaMoure County, ND', 'Pike County, KY',
       'Suffolk County, MA', 'Vilas County, WI', 'St. Tammany Parish, LA',
       'Hancock County, IL', 'Johnson County, GA', 'Iron County, WI',
       'Juab County, UT', 'Clay County, TN', 'Adams County, CO',
       'Kendall County, TX', 'Jefferson County, AR', 'Berrien County, MI',
       'Morgan County, GA', 'Lincoln County, NM', 'St. Johns County, FL',
       'Del Norte County, CA', 'Fremont County, ID',
       'Green Lake County, WI', 'Turner County, SD',
       'Franklin County, NC', 'Lawrence County, PA',
       'Box Elder County, UT', 'Schleicher County, TX',
       'Billings County, ND', 'Jasper County, TX', 'Mitchell County, KS',
       'Chelan County, WA', 'Butler County, KS', 'Williams County, ND',
       'Milwaukee County, WI', 'Jersey County, IL', 'Kenosha County, WI',
       'Brule County, SD', 'Lee County, IL', 'Wheatland County, MT',
       'Houston County, GA', 'Curry County, NM', 'Greene County, IA',
       'Lyon County, MN', 'Piscataquis County, ME', 'Mobile County, AL',
       'Walton County, GA', 'Tooele County, UT', 'DeKalb County, AL',
       'Corson County, SD', 'Smith County, TN', 'Bossier Parish, LA',
       'Calumet County, WI', 'Ozark County, MO', 'Lincoln County, OR',
       'Cottle County, TX', 'Wayne County, NE', 'Bingham County, ID',
       'Labette County, KS', 'Peoria County, IL', 'Tyler County, WV',
       'Holmes County, MS', 'Walker County, AL', 'Rock County, WI',
       'Hinds County, MS', 'Atascosa County, TX', 'Sterling County, TX',
       'Guilford County, NC', 'Itasca County, MN', 'Kenton County, KY',
       'Dickinson County, MI', 'Hidalgo County, TX', 'Madison County, NY',
       'Orange County, TX', 'Lauderdale County, AL', 'Mineral County, MT',
       'Sharkey County, MS', 'Hudspeth County, TX', 'Giles County, TN',
       'St. Clair County, MO', 'Bledsoe County, TN', 'Cache County, UT',
       'Plymouth County, MA', 'Stone County, MO', 'Pulaski County, MO',
       'Campbell County, TN', 'Richland County, MT', 'Noble County, OH',
       'Wythe County, VA', 'Schley County, GA', 'Morrill County, NE',
       'McPherson County, NE', 'Falls County, TX', 'Meigs County, TN',
       'Camden County, NJ', 'Honolulu County, HI', 'Bracken County, KY',
       'Oldham County, TX', 'Kane County, UT', 'Bristol County, RI',
       'Piatt County, IL', 'Crawford County, IA', 'Panola County, MS',
       'Chaves County, NM', 'Knox County, KY', 'Hawaii County, HI',
       'Dunklin County, MO', 'McCurtain County, OK', 'Dodge County, NE',
       'Highland County, VA', 'Bath County, KY', 'Adams County, NE',
       'Wayne County, OH', 'Wilkes County, GA', 'Runnels County, TX',
       'Elliott County, KY', 'Lancaster County, VA', 'Clarke County, AL',
       'Minidoka County, ID', 'Morris County, KS', 'McHenry County, ND',
       'Clay County, IN', 'Wright County, MN', 'Redwood County, MN',
       'Newton County, IN', 'Jackson County, OR', 'Perry County, OH',
       'Wayne County, NC', 'Cameron Parish, LA', 'Wyandotte County, KS',
       'Mills County, TX', 'Franklin County, IA', 'Saratoga County, NY',
       'Huerfano County, CO', 'Ramsey County, ND', 'Barton County, MO',
       'Norfolk County, MA', 'Maui County, HI', 'Barnwell County, SC',
       'Orange County, IN', 'Mercer County, PA', 'Hot Springs County, WY',
       'Garfield County, CO', 'Clay County, KY', 'Oswego County, NY',
       'Brown County, WI', 'Prairie County, AR', 'Greene County, IN',
       'Rowan County, NC', 'Wright County, MO', 'Dallas County, IA',
       'Rockwall County, TX', 'Bristol County, MA', 'Bradley County, TN',
       'Kingman County, KS', 'Freestone County, TX', 'Clinton County, PA',
       'Kossuth County, IA', 'Pulaski County, AR',
       'Greenville County, SC', 'Gulf County, FL', 'Barbour County, AL',
       'Windham County, VT', 'DeKalb County, TN', 'Coos County, OR',
       'Swisher County, TX', 'Washington County, GA', 'Union County, IL',
       'Appling County, GA', 'Caroline County, VA', 'Fallon County, MT',
       'Franklin County, VT', 'Trinity County, CA', 'Pratt County, KS',
       'Cassia County, ID', 'Alcona County, MI', 'Marion County, IA',
       'Echols County, GA', 'Daviess County, MO', 'Washington County, NY',
       'Fairfax County, VA', 'Dunn County, WI', 'Jefferson County, OK',
       'Holt County, NE', 'Ashe County, NC', 'Clay County, FL',
       'Antrim County, MI', 'McPherson County, KS', 'Terrell County, GA',
       'Edmunds County, SD', 'Moniteau County, MO', 'Lee County, GA',
       'Fulton County, AR', 'Maries County, MO', 'La Paz County, AZ',
       'Susquehanna County, PA', 'Madison County, MT', 'Wise County, VA',
       'Aurora County, SD', 'Dickens County, TX', 'Colbert County, AL',
       'Charles County, MD', 'Pemiscot County, MO', 'Comal County, TX',
       'Hendricks County, IN', 'Henry County, KY', 'Towns County, GA',
       'Ohio County, KY', 'Clare County, MI', 'Nicollet County, MN',
       'Blount County, TN', 'Union County, GA', 'Skagit County, WA',
       'Cavalier County, ND', 'Robeson County, NC', 'Sussex County, VA',
       'Pawnee County, OK', 'Harvey County, KS', 'Coffee County, GA',
       'Haywood County, NC', 'Mississippi County, AR', 'Roane County, WV',
       'Warren County, NY', 'Steele County, MN', 'Marshall County, MS',
       'Bexar County, TX', 'Petroleum County, MT', 'Wichita County, KS',
       'Graham County, KS', 'Wharton County, TX', 'Wilkinson County, MS',
       'Medina County, OH', 'Washoe County, NV', 'Cleburne County, AR',
       'Okaloosa County, FL', 'Hardin County, OH', 'Limestone County, TX',
       'Seward County, NE', 'Utah County, UT', 'Caddo Parish, LA',
       'Hernando County, FL', 'Todd County, KY', 'Leon County, TX',
       'Montgomery County, NC', 'Madison County, NE',
       'Gilchrist County, FL', 'Floyd County, IA', 'Lucas County, IA',
       'Baker County, FL', 'Essex County, MA', 'Talbot County, GA',
       'Perry County, IL', 'Edwards County, IL', 'Marion County, KY',
       'Cumberland County, KY', 'Martin County, TX', 'Butler County, PA',
       'Covington County, AL', 'Tazewell County, VA', 'Putnam County, FL',
       'White County, IL', 'Dent County, MO', 'Johnson County, NE',
       'Adams County, MS', 'Woods County, OK', 'Crawford County, MO',
       'Monterey County, CA', 'Seminole County, GA', 'Teton County, WY',
       'Loup County, NE', 'McCracken County, KY', 'Gates County, NC',
       'Licking County, OH', 'Hall County, NE', 'Reynolds County, MO',
       'Grundy County, IA', 'Allegan County, MI', 'Fairfield County, CT',
       'Franklin County, FL', 'Hart County, KY', 'Arapahoe County, CO',
       'Clearwater County, MN', 'Southampton County, VA',
       'Huntingdon County, PA', 'Rock Island County, IL',
       'Douglas County, OR', 'Douglas County, GA', 'Mason County, WA',
       'Pinellas County, FL', 'Northampton County, NC',
       'Grant County, OR', 'Graham County, NC', 'Spalding County, GA',
       'Cumberland County, PA', 'Gaston County, NC', 'Otsego County, NY',
       'Wabasha County, MN', 'Fluvanna County, VA', 'Hubbard County, MN',
       'Jackson County, MS', 'Warren County, IL', 'Ada County, ID',
       'Zapata County, TX', 'Baca County, CO', 'Taylor County, FL',
       'Marshall County, TN', 'Sevier County, TN',
       'White Pine County, NV', 'Ward County, TX', 'Adams County, IL',
       'Perry County, PA', 'Pueblo County, CO', 'Monroe County, AL',
       'Warren County, IN', 'Ripley County, IN', 'Washington County, NC',
       'Washington County, TX', 'Hickory County, MO',
       'Pulaski County, GA', 'Renville County, MN', 'Maverick County, TX',
       'Santa Fe County, NM', 'Alameda County, CA', 'Garfield County, NE',
       'Robertson County, TN', 'Larimer County, CO',
       'Kennebec County, ME', 'Darke County, OH', 'Harrison County, IA',
       'Reagan County, TX', 'Holmes County, OH', 'Chester County, TN',
       'Chatham County, GA', 'Garza County, TX', 'Forrest County, MS',
       'Anoka County, MN', 'Walsh County, ND', 'Hardeman County, TN',
       'St. Joseph County, IN', 'Loudon County, TN', 'Jackson County, OH',
       'Cherokee County, KS', 'Ocean County, NJ', 'Dickson County, TN',
       'Middlesex County, CT', 'Assumption Parish, LA',
       'Scott County, MN', 'Marshall County, WV', 'Broward County, FL',
       'Beltrami County, MN', 'Tillman County, OK', 'Cherokee County, OK',
       'Kosciusko County, IN', 'Macon County, AL', 'Nassau County, NY',
       'Marengo County, AL', 'Garfield County, MT', 'Haskell County, KS',
       'Vernon County, WI', 'Bronx County, NY', 'Webster Parish, LA',
       'Cameron County, TX', 'Kleberg County, TX', 'Pepin County, WI',
       'Rogers County, OK', 'Cameron County, PA', 'Shelby County, MO',
       'Des Moines County, IA', 'Pike County, MS', 'Waseca County, MN',
       'Otero County, CO', 'Montgomery County, VA', 'Kendall County, IL',
       'Washington County, NE', 'Greer County, OK', 'Ferry County, WA'],
      dtype=object)

In [1]:
from pprint import pprint
#creating a funtion that defines params for each county
api_key = "hmByUdhcTsKM5JLBq37ooaCx3D7jHwSi0UvVuwEnkeLWqjR67y8gvikOg1_Dy8kHOyamyarCr8jrZezYsBLdnicQat6RpFWY6unLYr7df72YUp-ve2yG66uPsV1oXXYx"
url = "https://api.yelp.com/v3/businesses/search"
def get_places(county, page_token):
    params = {
        #"query": "mcdonald's",
        "Authorization": api_key,
        #"radius": 1000,
        "location":  county,
        "term": "mcdonalds",
        "limit": 50,
        #"categories": "hotdogs",
        }
    #using the page token
    if page_token:
        print('using token')
        params['pagetoken'] = page_token
    
    #base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"
    #response = requests.get(base_url, params=params)
    response = requests.get(url, params=params, headers={"Authorization": f"Bearer {api_key}"})
 
    return response.json()

In [55]:
# geocoordinates


# county = county_pull[0]
# types = ["cafe",
#          "restaurant",
#          "food"]
# keyword = [county, "fast food"]
# q_phrase = county + "fast food"

# # # set up a parameters dictionary
# params = {
# #    "location": county,
# #     "keyword": keyword,
# #     "type": types,
#     "query": q_phrase,
#     "key": g_api
# }

# # # base url
# base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"

# # # run a request using our params dictionary
# response = requests.get(base_url, params=params)

# # # convert response to json
# places_data = response.json()

# # # Print the json (pretty printed)
# print(json.dumps(places_data, indent=4, sort_keys=True))
# county

#using time so api does not time out
from time import sleep

rest_list = []

#creating a loop that uses previous params for each county
for county in county_pull:

    page_token = None
        
    #using a while loop to countiously loop until False    
    while True:
        
        places_data = get_places(county, page_token)

        #for loop to loop through multiple pages and grab each resturant
        #within each county
        for i in range(0 ,len(places_data['businesses'])):
            rest_list.append({'county': county, 'place_name': places_data["businesses"][i]["name"]})
        
        #using the page token until no more tokens left
        page_token = places_data.get('next_page_token', None)
        print(f'county {county} {page_token}')
        sleep(1)
        if not page_token:
            print('breaking')
            break

county Navajo County, AZ None
breaking
county Moultrie County, IL None
breaking
county Valley County, NE None
breaking
county San Juan County, WA None
breaking
county St. Clair County, AL None
breaking
county Hennepin County, MN None
breaking
county Jefferson County, NY None
breaking
county Loudoun County, VA None
breaking
county Macon County, MO None
breaking
county Washington County, MS None
breaking
county Lunenburg County, VA None
breaking
county Edwards County, KS None
breaking
county Eastland County, TX None
breaking
county Greensville County, VA None
breaking
county Logan County, OH None
breaking
county Okmulgee County, OK None
breaking
county Yuba County, CA None
breaking
county Mercer County, OH None
breaking
county Bartholomew County, IN None
breaking
county Brooks County, TX None
breaking
county Trousdale County, TN None
breaking
county Hamilton County, KS None
breaking
county Screven County, GA None
breaking
county King George County, VA None
breaking
county Tyrrell County, NC None
breaking
county Camden County, GA None
breaking
county Deuel County, SD None
breaking
county Reeves County, TX None
breaking
county Karnes County, TX None
breaking
county Montgomery County, TN None
breaking
county Ransom County, ND None
breaking
county New Madrid County, MO None
breaking
county Washington Parish, LA None
breaking
county Woodford County, KY None
breaking
county New Kent County, VA None
breaking
county Cooke County, TX None
breaking
county Carson County, TX None
breaking
county Hill County, MT None
breaking
county Victoria County, TX None
breaking
county Venango County, PA None
breaking
county Roosevelt County, NM None
breaking
county Manatee County, FL None
breaking
county Pike County, OH None
breaking
county Pendleton County, WV None
breaking
county Clarendon County, SC None
breaking
county Carteret County, NC None
breaking
county Ritchie County, WV None
breaking
county Montgomery County, KS None
breaking
county Jeff Davis County, GA None
breaking
county Effingham County, IL None
breaking
county Sullivan County, PA None
breaking
county Goliad County, TX None
breaking
county Toombs County, GA None
breaking
county Randolph County, WV None
breaking
county Franklin County, IN None
breaking
county Harris County, GA None
breaking
county Lincoln County, WV None
breaking
county Arenac County, MI None
breaking
county Bond County, IL None
breaking
county Day County, SD None
breaking
county Winnebago County, IL None
breaking
county Floyd County, VA None
breaking
county Navarro County, TX None
breaking
county Lamar County, MS None
breaking
county Bailey County, TX None
breaking
county Cottonwood County, MN None
breaking
county Riley County, KS None
breaking
county Benewah County, ID None
breaking
county Frederick County, VA None
breaking
county New Castle County, DE None
breaking
county Carroll County, OH None
breaking
county Warren County, MS None
breaking
county Harrison County, OH None
breaking
county Franklin County, KY None
breaking
county Worth County, MO None
breaking
county Faribault County, MN None
breaking
county Oceana County, MI None
breaking
county Garrard County, KY None
breaking
county Pondera County, MT None
breaking
county Sabine Parish, LA None
breaking
county Montgomery County, NY None
breaking
county Churchill County, NV None
breaking
county Crisp County, GA None
breaking
county Linn County, MO None
breaking
county Harlan County, KY None
breaking
county Hancock County, MS None
breaking
county Big Stone County, MN None
breaking
county Oktibbeha County, MS None
breaking
county Clark County, MO None
breaking
county Johnson County, KY None
breaking
county St. Charles Parish, LA None
breaking
county Carroll County, IL None
breaking
county Clinch County, GA None
breaking
county Powhatan County, VA None
breaking
county Jasper County, IN None
breaking
county Franklin County, NY None
breaking
county Osage County, KS None
breaking
county Henderson County, TN None
breaking
county Greene County, AL None
breaking
county Van Buren County, IA None
breaking
county Iowa County, IA None
breaking
county Polk County, TN None
breaking
county Chicot County, AR None
breaking
county Laurel County, KY None
breaking
county Bent County, CO None
breaking
county Van Buren County, TN None
breaking
county Wilcox County, GA None
breaking
county Riverside County, CA None
breaking
county Campbell County, SD None
breaking
county Rio Arriba County, NM None
breaking
county LaGrange County, IN None
breaking
county Panola County, TX None
breaking
county Adams County, ND None
breaking
county Bottineau County, ND None
breaking
county Montcalm County, MI None
breaking
county Fillmore County, MN None
breaking
county Jeff Davis County, TX None
breaking
county Buena Vista County, IA None
breaking
county Walworth County, SD None
breaking
county Hidalgo County, NM None
breaking
county Lehigh County, PA None
breaking
county Dunn County, ND None
breaking
county Stanley County, SD None
breaking
county Craighead County, AR None
breaking
county Schuylkill County, PA None
breaking
county Martin County, FL None
breaking
county Mille Lacs County, MN None
breaking
county LaMoure County, ND None
breaking
county Pike County, KY None
breaking
county Suffolk County, MA None
breaking
county Vilas County, WI None
breaking
county St. Tammany Parish, LA None
breaking
county Hancock County, IL None
breaking
county Johnson County, GA None
breaking
county Iron County, WI None
breaking
county Juab County, UT None
breaking
county Clay County, TN None
breaking
county Adams County, CO None
breaking
county Kendall County, TX None
breaking
county Jefferson County, AR None
breaking
county Berrien County, MI None
breaking
county Morgan County, GA None
breaking
county Lincoln County, NM None
breaking
county St. Johns County, FL None
breaking
county Del Norte County, CA None
breaking
county Fremont County, ID None
breaking
county Green Lake County, WI None
breaking
county Turner County, SD None
breaking
county Franklin County, NC None
breaking
county Lawrence County, PA None
breaking
county Box Elder County, UT None
breaking
county Schleicher County, TX None
breaking
county Billings County, ND None
breaking
county Jasper County, TX None
breaking
county Mitchell County, KS None
breaking
county Chelan County, WA None
breaking
county Butler County, KS None
breaking
county Williams County, ND None
breaking
county Milwaukee County, WI None
breaking
county Jersey County, IL None
breaking
county Kenosha County, WI None
breaking
county Brule County, SD None
breaking
county Lee County, IL None
breaking
county Wheatland County, MT None
breaking
county Houston County, GA None
breaking
county Curry County, NM None
breaking
county Greene County, IA None
breaking
county Lyon County, MN None
breaking
county Piscataquis County, ME None
breaking
county Mobile County, AL None
breaking
county Walton County, GA None
breaking
county Tooele County, UT None
breaking
county DeKalb County, AL None
breaking
county Corson County, SD None
breaking
county Smith County, TN None
breaking
county Bossier Parish, LA None
breaking
county Calumet County, WI None
breaking
county Ozark County, MO None
breaking
county Lincoln County, OR None
breaking
county Cottle County, TX None
breaking
county Wayne County, NE None
breaking
county Bingham County, ID None
breaking
county Labette County, KS None
breaking
county Peoria County, IL None
breaking
county Tyler County, WV None
breaking
county Holmes County, MS None
breaking
county Walker County, AL None
breaking
county Rock County, WI None
breaking
county Hinds County, MS None
breaking
county Atascosa County, TX None
breaking
county Sterling County, TX None
breaking
county Guilford County, NC None
breaking
county Itasca County, MN None
breaking
county Kenton County, KY None
breaking
county Dickinson County, MI None
breaking
county Hidalgo County, TX None
breaking
county Madison County, NY None
breaking
county Orange County, TX None
breaking
county Lauderdale County, AL None
breaking
county Mineral County, MT None
breaking
county Sharkey County, MS None
breaking
county Hudspeth County, TX None
breaking
county Giles County, TN None
breaking
county St. Clair County, MO None
breaking
county Bledsoe County, TN None

breaking
county Cache County, UT None
breaking
county Plymouth County, MA None
breaking
county Stone County, MO None
breaking
county Pulaski County, MO None
breaking
county Campbell County, TN None
breaking
county Richland County, MT None
breaking
county Noble County, OH None
breaking
county Wythe County, VA None
breaking
county Schley County, GA None
breaking
county Morrill County, NE None
breaking
county McPherson County, NE None
breaking
county Falls County, TX None
breaking
county Meigs County, TN None
breaking
county Camden County, NJ None
breaking
county Honolulu County, HI None
breaking
county Bracken County, KY None
breaking
county Oldham County, TX None
breaking
county Kane County, UT None
breaking
county Bristol County, RI None
breaking
county Piatt County, IL None
breaking
county Crawford County, IA None
breaking
county Panola County, MS None
breaking
county Chaves County, NM None
breaking
county Knox County, KY None
breaking
county Hawaii County, HI None
breaking
county Dunklin County, MO None
breaking
county McCurtain County, OK None
breaking
county Dodge County, NE None
breaking
county Highland County, VA None
breaking
county Bath County, KY None
breaking
county Adams County, NE None
breaking
county Wayne County, OH None
breaking
county Wilkes County, GA None
breaking
county Runnels County, TX None
breaking
county Elliott County, KY None
breaking
county Lancaster County, VA None
breaking
county Clarke County, AL None
breaking
county Minidoka County, ID None
breaking
county Morris County, KS None
breaking
county McHenry County, ND None
breaking
county Clay County, IN None
breaking
county Wright County, MN None
breaking
county Redwood County, MN None
breaking
county Newton County, IN None
breaking
county Jackson County, OR None
breaking
county Perry County, OH None
breaking
county Wayne County, NC None
breaking
county Cameron Parish, LA None
breaking
county Wyandotte County, KS None
breaking
county Mills County, TX None
breaking
county Franklin County, IA None
breaking
county Saratoga County, NY None
breaking
county Huerfano County, CO None
breaking
county Ramsey County, ND None
breaking
county Barton County, MO None
breaking
county Norfolk County, MA None
breaking
county Maui County, HI None
breaking
county Barnwell County, SC None
breaking
county Orange County, IN None
breaking
county Mercer County, PA None
breaking
county Hot Springs County, WY None
breaking
county Garfield County, CO None
breaking
county Clay County, KY None
breaking
county Oswego County, NY None
breaking
county Brown County, WI None
breaking
county Prairie County, AR None
breaking
county Greene County, IN None
breaking
county Rowan County, NC None
breaking
county Wright County, MO None
breaking
county Dallas County, IA None
breaking
county Rockwall County, TX None
breaking
county Bristol County, MA None
breaking
county Bradley County, TN None
breaking
county Kingman County, KS None
breaking
county Freestone County, TX None
breaking
county Clinton County, PA None
breaking
county Kossuth County, IA None
breaking
county Pulaski County, AR None
breaking
county Greenville County, SC None
breaking
county Gulf County, FL None
breaking
county Barbour County, AL None
breaking
county Windham County, VT None
breaking
county DeKalb County, TN None
breaking
county Coos County, OR None
breaking
county Swisher County, TX None
breaking
county Washington County, GA None
breaking
county Union County, IL None
breaking
county Appling County, GA None
breaking
county Caroline County, VA None
breaking
county Fallon County, MT None
breaking
county Franklin County, VT None
breaking
county Trinity County, CA None
breaking
county Pratt County, KS None
breaking
county Cassia County, ID None
breaking
county Alcona County, MI None
breaking
county Marion County, IA None
breaking
county Echols County, GA None
breaking
county Daviess County, MO None
breaking
county Washington County, NY None
breaking
county Fairfax County, VA None
breaking
county Dunn County, WI None
breaking
county Jefferson County, OK None
breaking
county Holt County, NE None
breaking
county Ashe County, NC None
breaking
county Clay County, FL None
breaking
county Antrim County, MI None
breaking
county McPherson County, KS None
breaking
county Terrell County, GA None
breaking
county Edmunds County, SD None
breaking
county Moniteau County, MO None
breaking
county Lee County, GA None
breaking
county Fulton County, AR None
breaking
county Maries County, MO None
breaking
county La Paz County, AZ None
breaking
county Susquehanna County, PA None
breaking
county Madison County, MT None
breaking
county Wise County, VA None
breaking
county Aurora County, SD None
breaking
county Dickens County, TX None
breaking
county Colbert County, AL None
breaking
county Charles County, MD None
breaking
county Pemiscot County, MO None
breaking
county Comal County, TX None
breaking
county Hendricks County, IN None
breaking
county Henry County, KY None
breaking
county Towns County, GA None
breaking
county Ohio County, KY None
breaking
county Clare County, MI None
breaking
county Nicollet County, MN None
breaking
county Blount County, TN None
breaking
county Union County, GA None
breaking
county Skagit County, WA None
breaking
county Cavalier County, ND None
breaking
county Robeson County, NC None
breaking
county Sussex County, VA None
breaking
county Pawnee County, OK None
breaking
county Harvey County, KS None
breaking
county Coffee County, GA None
breaking
county Haywood County, NC None
breaking
county Mississippi County, AR None
breaking
county Roane County, WV None
breaking
county Warren County, NY None
breaking
county Steele County, MN None
breaking
county Marshall County, MS None
breaking
county Bexar County, TX None
breaking
county Petroleum County, MT None
breaking
county Wichita County, KS None
breaking
county Graham County, KS None
breaking
county Wharton County, TX None
breaking
county Wilkinson County, MS None
breaking
county Medina County, OH None
breaking
county Washoe County, NV None
breaking
county Cleburne County, AR None
breaking
county Okaloosa County, FL None
breaking
county Hardin County, OH None
breaking
county Limestone County, TX None
breaking
county Seward County, NE None
breaking
county Utah County, UT None
breaking
county Caddo Parish, LA None
breaking
county Hernando County, FL None
breaking
county Todd County, KY None
breaking
county Leon County, TX None
breaking
county Montgomery County, NC None
breaking
county Madison County, NE None
breaking
county Gilchrist County, FL None
breaking
county Floyd County, IA None
breaking
county Lucas County, IA None
breaking
county Baker County, FL None
breaking
county Essex County, MA None
breaking
county Talbot County, GA None
breaking
county Perry County, IL None
breaking
county Edwards County, IL None
breaking
county Marion County, KY None
breaking
county Cumberland County, KY None
breaking
county Martin County, TX None
breaking
county Butler County, PA None
breaking
county Covington County, AL None
breaking
county Tazewell County, VA None
breaking
county Putnam County, FL None
breaking
county White County, IL None
breaking
county Dent County, MO None
breaking
county Johnson County, NE None
breaking
county Adams County, MS None
breaking
county Woods County, OK None
breaking
county Crawford County, MO None
breaking
county Monterey County, CA None
breaking
county Seminole County, GA None
breaking
county Teton County, WY None
breaking
county Loup County, NE None
breaking
county McCracken County, KY None
breaking
county Gates County, NC None
breaking
county Licking County, OH None
breaking
county Hall County, NE None
breaking
county Reynolds County, MO None
breaking
county Grundy County, IA None
breaking
county Allegan County, MI None
breaking
county Fairfield County, CT None
breaking
county Franklin County, FL None
breaking
county Hart County, KY None
breaking
county Arapahoe County, CO None
breaking
county Clearwater County, MN None
breaking
county Southampton County, VA None
breaking
county Huntingdon County, PA None
breaking
county Rock Island County, IL None
breaking
county Douglas County, OR None
breaking
county Douglas County, GA None
breaking
county Mason County, WA None

breaking
county Pinellas County, FL None
breaking
county Northampton County, NC None
breaking
county Grant County, OR None
breaking
county Graham County, NC None
breaking
county Spalding County, GA None
breaking
county Cumberland County, PA None
breaking
county Gaston County, NC None
breaking
county Otsego County, NY None
breaking
county Wabasha County, MN None
breaking
county Fluvanna County, VA None
breaking
county Hubbard County, MN None
breaking
county Jackson County, MS None
breaking
county Warren County, IL None
breaking
county Ada County, ID None
breaking
county Zapata County, TX None
breaking
county Baca County, CO None
breaking
county Taylor County, FL None
breaking
county Marshall County, TN None
breaking
county Sevier County, TN None
breaking
county White Pine County, NV None
breaking
county Ward County, TX None
breaking
county Adams County, IL None
breaking
county Perry County, PA None
breaking
county Pueblo County, CO None
breaking
county Monroe County, AL None
breaking
county Warren County, IN None
breaking
county Ripley County, IN None
breaking
county Washington County, NC None
breaking
county Washington County, TX None
breaking
county Hickory County, MO None
breaking
county Pulaski County, GA None
breaking
county Renville County, MN None
breaking
county Maverick County, TX None
breaking
county Santa Fe County, NM None
breaking
county Alameda County, CA None
breaking
county Garfield County, NE None
breaking
county Robertson County, TN None
breaking
county Larimer County, CO None
breaking
county Kennebec County, ME None
breaking
county Darke County, OH None
breaking
county Harrison County, IA None
breaking
county Reagan County, TX None
breaking
county Holmes County, OH None
breaking
county Chester County, TN None
breaking
county Chatham County, GA None
breaking
county Garza County, TX None
breaking
county Forrest County, MS None
breaking
county Anoka County, MN None
breaking
county Walsh County, ND None
breaking
county Hardeman County, TN None
breaking
county St. Joseph County, IN None
breaking
county Loudon County, TN None
breaking
county Jackson County, OH None
breaking
county Cherokee County, KS None
breaking
county Ocean County, NJ None
breaking
county Dickson County, TN None
breaking
county Middlesex County, CT None
breaking
county Assumption Parish, LA None
breaking
county Scott County, MN None
breaking
county Marshall County, WV None
breaking
county Broward County, FL None
breaking
county Beltrami County, MN None
breaking
county Tillman County, OK None
breaking
county Cherokee County, OK None
breaking
county Kosciusko County, IN None
breaking
county Macon County, AL None
breaking
county Nassau County, NY None
breaking
county Marengo County, AL None
breaking
county Garfield County, MT None
breaking
county Haskell County, KS None
breaking
county Vernon County, WI None
breaking
county Bronx County, NY None
breaking
county Webster Parish, LA None
breaking
county Cameron County, TX None
breaking
county Kleberg County, TX None
breaking
county Pepin County, WI None
breaking
county Rogers County, OK None
breaking
county Cameron County, PA None
breaking
county Shelby County, MO None
breaking
county Des Moines County, IA None
breaking
county Pike County, MS None
breaking
county Waseca County, MN None
breaking
county Otero County, CO None
breaking
county Montgomery County, VA None
breaking
county Kendall County, IL None
breaking
county Washington County, NE None
breaking
county Greer County, OK None
breaking
county Ferry County, WA None
breaking

In [60]:
rest_df = pd.DataFrame(rest_list)
rest_df.head()

              county   place_name
0  Navajo County, AZ   McDonald's
1  Navajo County, AZ   McDonald's
2  Navajo County, AZ   McDonald's
3  Navajo County, AZ  Dairy Queen
4  Navajo County, AZ    Taco Bell

In [62]:
mcdonalds_df = rest_df.loc[rest_df["place_name"] == "McDonald's",:]

mcdonalds_df.head()

                 county  place_name
0     Navajo County, AZ  McDonald's
1     Navajo County, AZ  McDonald's
2     Navajo County, AZ  McDonald's
22  Moultrie County, IL  McDonald's
23  Moultrie County, IL  McDonald's

In [75]:
mcdonalds_count = mcdonalds_df.groupby(["county"]).count()
mcdonalds_count_df = mcdonalds_count.rename(columns = {"place_name": "Number of Mcdonalds"})
mcdonalds_count_df

                        Number of Mcdonalds
county
Ada County, ID                           30
Adams County, CO                         50
Adams County, IL                          4
Adams County, MS                          3
Adams County, ND                          1
Adams County, NE                          3
Alameda County, CA                       50
Alcona County, MI                         6
Allegan County, MI                       47
Anoka County, MN                         50
Antrim County, MI                        12
Appling County, GA                        5
Arapahoe County, CO                      50
Arenac County, MI                         6
Ashe County, NC                           9
Assumption Parish, LA                    23
Atascosa County, TX                      31
Aurora County, SD                         2
Baca County, CO                           1
Bailey County, TX                         6
Baker County, FL                         27
Barbour County, AL                        4
Barnwell County, SC                      15
Bartholomew County, IN                    4
Barton County, MO                        11
Bath County, KY                           8
Beltrami County, MN                       2
Benewah County, ID                        1
Bent County, CO                           2
Berrien County, MI                       29
...                                     ...
Washington County, NE                    32
Washington County, NY                    47
Washington County, TX                    17
Washington Parish, LA                    16
Washoe County, NV                         1
Wayne County, NC                         30
Wayne County, NE                          3
Wayne County, OH                         50
Webster Parish, LA                       19
Wharton County, TX                       12
Wheatland County, MT                      1
White County, IL                         11
White Pine County, NV                     1
Wichita County, KS                        1
Wilcox County, GA                         7
Wilkes County, GA                         4
Wilkinson County, MS                      5
Williams County, ND                       2
Windham County, VT                        8
Winnebago County, IL                     40
Wise County, VA                          10
Woodford County, KY                      40
Woods County, OK                          7
Worth County, MO                          2
Wright County, MN                        33
Wright County, MO                         5
Wyandotte County, KS                     50
Wythe County, VA                         15
Yuba County, CA                          50
Zapata County, TX                        16

[500 rows x 1 columns]

In [72]:
mcdonalds_count_df.to_csv("Mcdonalds_per_County.csv", index = True, header = True)