In [ ]:
## Project: 2014 Heart Disease Mortality of 500 Random Counties, based on the Concentration of McDonald's Restaurants
## Further Considerations by Gender, Race/Ethnicity, and Income Level

## Data Cleaning Notebook

In [24]:
#Dependencies
import pandas as pd
import random
import requests
import json
from pprint import pprint

In [25]:
# (1) IRS Data: Finding Income Information by County

In [51]:
#Importing Raw IRS Data
irs_pd = pd.read_csv("Raw Data/IRS Dataset by County.csv")
irs_pd.head()

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,mars1,MARS2,MARS4,PREP,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,Alabama,1,25120.0,14000.0,9140.0,1110.0,17260.0,...,4530.0,9068.0,70.0,97.0,0.0,0.0,2750.0,3791.0,10210.0,35026.0
1,1,AL,0,Alabama,2,300920.0,223950.0,26770.0,46400.0,156430.0,...,77720.0,45164.0,0.0,0.0,0.0,0.0,23290.0,10777.0,250850.0,296608.0
2,1,AL,0,Alabama,3,549200.0,257890.0,88300.0,194060.0,323470.0,...,312340.0,280080.0,0.0,0.0,0.0,0.0,39900.0,37545.0,494200.0,1668817.0
3,1,AL,0,Alabama,4,491350.0,200730.0,150260.0,125560.0,281320.0,...,397110.0,950375.0,30.0,20.0,0.0,0.0,70960.0,102612.0,413810.0,1177609.0
4,1,AL,0,Alabama,5,259320.0,75790.0,142750.0,34060.0,156510.0,...,250010.0,1316842.0,0.0,0.0,0.0,0.0,62330.0,133274.0,191980.0,538147.0

In [27]:
#Removing state-level data
irs_pd = irs_pd[irs_pd.COUNTYFIPS !=0]

#Combining State and County columns to more easily merge with CDC data
irs_pd["COUNTYNAME"] = irs_pd["COUNTYNAME"] + ", " + irs_pd["STATE"]

#Removing Rows with Missing Data
irs_pd = irs_pd.dropna(how='any')

#Pulling Needed Information
irs_basic = irs_pd[["COUNTYNAME", "agi_stub", "N1", "A00200"]]
irs_basic.head(10)

            COUNTYNAME  agi_stub       N1    A00200
8   Autauga County, AL         1    210.0    1403.0
9   Autauga County, AL         2   3350.0   14437.0
10  Autauga County, AL         3   5620.0   77486.0
11  Autauga County, AL         4   5410.0  159789.0
12  Autauga County, AL         5   3420.0  163864.0
13  Autauga County, AL         6   2450.0  163709.0
14  Autauga County, AL         7   3000.0  302302.0
15  Autauga County, AL         8    360.0   61298.0
16  Baldwin County, AL         1   1710.0   13073.0
17  Baldwin County, AL         2  13400.0   53151.0

In [28]:
#Renaming Columns
irs_rename = irs_basic.rename(columns={"COUNTYNAME":"County",
                                       "agi_stub":"Adjusted Gross Income",
                                       "N1":"Number of Returns",
                                       "A00200":"Total Salaries & Wages"})

irs_rename.head(10)

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",1,210.0,1403.0
9,"Autauga County, AL",2,3350.0,14437.0
10,"Autauga County, AL",3,5620.0,77486.0
11,"Autauga County, AL",4,5410.0,159789.0
12,"Autauga County, AL",5,3420.0,163864.0
13,"Autauga County, AL",6,2450.0,163709.0
14,"Autauga County, AL",7,3000.0,302302.0
15,"Autauga County, AL",8,360.0,61298.0
16,"Baldwin County, AL",1,1710.0,13073.0
17,"Baldwin County, AL",2,13400.0,53151.0

In [29]:
#Cleaning Adjusted Gross Income
irs_rename.loc[:, "Adjusted Gross Income"] = irs_rename["Adjusted Gross Income"].astype("str")

irs_rename['Adjusted Gross Income'] = irs_rename['Adjusted Gross Income'].replace(
    {'0': 'No AGI Stub',
     '1': 'Under $1',
     '2': '1 - $9,999',
     '3': '10,000 - $24,999',
     '4': '25,000 - $49,999',
     '5': '50,000 - $74,999',
     '6': '75,000 - $99,999',
     '7': '100,000 - $199,999',
     '8': '$200,000 or more'
    })

irs_rename.head(10)

,County,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
8,"Autauga County, AL",Under $1,210.0,1403.0
9,"Autauga County, AL","1 - $9,999",3350.0,14437.0
10,"Autauga County, AL","10,000 - $24,999",5620.0,77486.0
11,"Autauga County, AL","25,000 - $49,999",5410.0,159789.0
12,"Autauga County, AL","50,000 - $74,999",3420.0,163864.0
13,"Autauga County, AL","75,000 - $99,999",2450.0,163709.0
14,"Autauga County, AL","100,000 - $199,999",3000.0,302302.0
15,"Autauga County, AL","$200,000 or more",360.0,61298.0
16,"Baldwin County, AL",Under $1,1710.0,13073.0
17,"Baldwin County, AL","1 - $9,999",13400.0,53151.0

In [30]:
#Exporting Income Brackets per County Information to a CSV file
irs_rename.to_csv("Final_Clean_IRS_Data.csv", index=False, header=True)

In [31]:
# (2) CDC Data: Finding Heart Disease Mortality Rate by County, including Gender and Race/Ethnicity

In [32]:
#Importing Raw CDC Data
cdc_pd = pd.read_csv("Raw Data/CDC Dataset - Heart Disease by County.csv")
cdc_pd.head()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Location 1
0,2014,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,105.3,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2013,"(55.440626, -161.962562)"
1,2014,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,211.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2016,"(52.995403, -170.251538)"
2,2014,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,257.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2020,"(61.159049, -149.103905)"
3,2014,AK,Bethel,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,351.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2050,"(60.924483, -159.749655)"
4,2014,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Overall,T2,2060,"(58.754192, -156.694709)"

In [33]:
#Removing state-level data
cdc_pd = cdc_pd[cdc_pd.GeographicLevel !="State"]

#Removing Insufficient Data
cdc_pd = cdc_pd[cdc_pd.Data_Value_Footnote_Symbol !="~"]

#Combining State and County columns to more easily merge with IRS data
cdc_pd["LocationDesc"] = cdc_pd["LocationDesc"] + ", " + cdc_pd["LocationAbbr"]

#Pulling Needed Information
cdc_basic = cdc_pd[["LocationAbbr",
                    "LocationDesc",
                    "Data_Value",
                    "Stratification1",
                    "Stratification2",
                    "Location 1"]]
cdc_basic.head()

,LocationAbbr,LocationDesc,Data_Value,Stratification1,Stratification2,Location 1
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"

In [34]:
#Renaming Columns
cdc_rename = cdc_basic.rename(columns={"LocationAbbr":"State",
                                       "LocationDesc":"County",
                                       "Data_Value":"Deaths per 100,000",
                                       "Stratification1":"Gender",
                                       "Stratification2":"Race/Ethnicity",
                                       "Location 1": "Geographical Coordinates"})

cdc_rename.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"
6,AK,"Dillingham, AK",411.6,Overall,Overall,"(59.803151, -158.181608)"
7,AK,"Fairbanks North Star, AK",305.7,Overall,Overall,"(64.809327, -146.586265)"
8,AK,"Haines, AK",295.7,Overall,Overall,"(59.140721, -135.513878)"
9,AK,"Juneau, AK",295.7,Overall,Overall,"(58.478434, -134.150437)"
10,AK,"Kenai Peninsula, AK",299.4,Overall,Overall,"(60.271254, -151.556972)"

In [35]:
#Dropping Rows with NaN Values 
cdc_rename = cdc_rename.dropna(how='any')
cdc_rename.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates
0,AK,"Aleutians East, AK",105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,"Aleutians West, AK",211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,"Anchorage, AK",257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,"Bethel, AK",351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,"Denali, AK",305.5,Overall,Overall,"(63.678399, -149.962076)"
6,AK,"Dillingham, AK",411.6,Overall,Overall,"(59.803151, -158.181608)"
7,AK,"Fairbanks North Star, AK",305.7,Overall,Overall,"(64.809327, -146.586265)"
8,AK,"Haines, AK",295.7,Overall,Overall,"(59.140721, -135.513878)"
9,AK,"Juneau, AK",295.7,Overall,Overall,"(58.478434, -134.150437)"
10,AK,"Kenai Peninsula, AK",299.4,Overall,Overall,"(60.271254, -151.556972)"

In [48]:
#Exporting Mortality Information to a CSV file
cdc_rename.to_csv("Final_Clean_CDC_Data.csv", index=False, header=True)

In [37]:
# (3) Merging the Two Cleaned DataFrames to One and Creating our Sample Population to Test
df_merge = pd.merge(cdc_rename, irs_rename, on="County")
df_merge.head(10)

,State,County,"Deaths per 100,000",Gender,Race/Ethnicity,Geographical Coordinates,Adjusted Gross Income,Number of Returns,Total Salaries & Wages
0,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)",Under $1,100.0,0.0
1,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","1 - $9,999",1160.0,4069.0
2,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","10,000 - $24,999",1270.0,15724.0
3,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","25,000 - $49,999",1680.0,48739.0
4,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","50,000 - $74,999",1080.0,50947.0
5,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","75,000 - $99,999",690.0,42393.0
6,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","100,000 - $199,999",1050.0,98756.0
7,AK,"Ketchikan Gateway, AK",326.8,Overall,Overall,"(55.559161, -131.351892)","$200,000 or more",220.0,27889.0
8,AK,"Ketchikan Gateway, AK",496.9,Male,Overall,"(55.559161, -131.351892)",Under $1,100.0,0.0
9,AK,"Ketchikan Gateway, AK",496.9,Male,Overall,"(55.559161, -131.351892)","1 - $9,999",1160.0,4069.0

In [49]:
#Using the Merged Dataset to Create a List of 500 Random Counties to be used with the Yelp API 

#Determining Unique Counties
unique_counties = df_merge["County"].unique()

#Pulling a Sample of 500 Unique Counties
random.shuffle(unique_counties)
county_pull = unique_counties[:500]
county_pull

array(['Mercer County, IL', 'Wyoming County, PA', 'Washington County, MN',
       'Rockingham County, VA', 'Hartford County, CT',
       'Fayette County, IA', 'Nuckolls County, NE',
       'Caledonia County, VT', 'Pleasants County, WV',
       'Jefferson County, TX', 'Newton County, AR',
       'Cleveland County, NC', 'Beaver County, OK', 'Taylor County, TX',
       'Tunica County, MS', 'Jasper County, GA', 'Costilla County, CO',
       'Orangeburg County, SC', 'Dinwiddie County, VA',
       'Churchill County, NV', 'De Baca County, NM', 'Bourbon County, KS',
       'Buchanan County, MO', 'Mason County, KY', 'Campbell County, VA',
       'Grand Isle County, VT', 'DeWitt County, TX',
       'Calloway County, KY', 'Canyon County, ID', 'Luce County, MI',
       'Thayer County, NE', 'Schleicher County, TX',
       'Richardson County, NE', "St. Mary's County, MD",
       'Harrison County, KY', 'Durham County, NC', 'Stearns County, MN',
       'Jackson County, SD', 'Forest County, WI', 'Furnas County, NE',
       'Brown County, KS', 'Otero County, CO', 'Faulk County, SD',
       'Chaves County, NM', 'Jones County, SD', 'Kootenai County, ID',
       'Buchanan County, VA', 'Dooly County, GA',
       'Yellowstone County, MT', 'Mercer County, MO',
       'McCulloch County, TX', 'Armstrong County, PA',
       'Cooper County, MO', 'Yell County, AR', 'Ellis County, KS',
       'Benton County, IA', 'Rice County, KS', 'Brown County, IL',
       'Russell County, KS', 'Brookings County, SD', 'Hancock County, ME',
       'Lynn County, TX', 'Howard County, IA', 'Flagler County, FL',
       'Pocahontas County, IA', 'Monroe County, OH', 'Stanton County, KS',
       'Screven County, GA', 'Hendry County, FL', 'Stephens County, GA',
       'Casey County, KY', 'Meigs County, TN', 'Perry County, PA',
       'McDowell County, WV', 'Broomfield County, CO', 'Chase County, NE',
       'Gaston County, NC', 'Catawba County, NC', 'Parke County, IN',
       'Ohio County, KY', 'Brown County, NE', 'Callaway County, MO',
       'Hancock County, IN', 'Bureau County, IL', 'Kent County, RI',
       'Harper County, KS', 'Lewis County, KY', 'Morton County, KS',
       'King County, WA', 'Washington Parish, LA', 'Beadle County, SD',
       'Macomb County, MI', 'St. Charles Parish, LA', 'Henry County, KY',
       'Cotton County, OK', 'Madison County, TN', 'Sawyer County, WI',
       'Coffee County, TN', 'Darlington County, SC', 'Alcona County, MI',
       'Gloucester County, NJ', 'Coal County, OK', 'Fillmore County, MN',
       'Treasure County, MT', 'Hancock County, WV', 'Brown County, MN',
       'Faulkner County, AR', 'Goodhue County, MN', 'Calhoun County, WV',
       'Cumberland County, PA', 'Piute County, UT',
       'Montgomery County, IA', 'Glascock County, GA',
       'Warren County, NY', 'Bennett County, SD', 'Boyd County, NE',
       'Hamilton County, OH', 'Wilbarger County, TX',
       'Outagamie County, WI', 'Morrow County, OH',
       'Wilkinson County, MS', 'Jefferson County, OR',
       'Nassau County, FL', 'Logan County, WV', 'Sumter County, GA',
       'Sequatchie County, TN', 'Crosby County, TX', 'Henry County, AL',
       'Carbon County, WY', 'Highlands County, FL', 'Sanpete County, UT',
       'Lee County, VA', 'Shawano County, WI', 'Franklin County, GA',
       'Midland County, TX', 'McLean County, KY', 'Castro County, TX',
       'Dixon County, NE', 'York County, ME', 'Navarro County, TX',
       'Lee County, MS', 'Hickman County, KY', 'Santa Rosa County, FL',
       'Calaveras County, CA', 'Hudspeth County, TX',
       'Atlantic County, NJ', 'Livingston County, IL',
       'Camden County, NC', 'Reeves County, TX', 'Union County, MS',
       'Stark County, ND', 'Marshall County, IN', 'Arkansas County, AR',
       'Clinch County, GA', 'Mitchell County, KS', 'Dubuque County, IA',
       'Harrison County, MS', 'New Madrid County, MO',
       'Woodbury County, IA', 'Rowan County, NC', 'Smyth County, VA',
       'Dauphin County, PA', 'Somerset County, NJ', 'Anderson County, TN',
       'Barton County, MO', 'Stevens County, MN', 'Vermillion County, IN',
       'Mineral County, MT', 'Lewis County, NY', 'Boyd County, KY',
       'Lincoln County, KY', 'Lake County, MT', 'Osage County, KS',
       'Lake County, CA', 'Cowlitz County, WA', 'Forrest County, MS',
       'Dallas County, MO', 'Labette County, KS', 'Humboldt County, CA',
       'Amherst County, VA', 'Cibola County, NM', 'Humphreys County, TN',
       'Lane County, KS', 'Alachua County, FL', 'Starke County, IN',
       'Becker County, MN', 'Sanborn County, SD', 'Bottineau County, ND',
       'San Mateo County, CA', 'Gilmer County, GA', 'Marlboro County, SC',
       'Yates County, NY', 'Blue Earth County, MN', 'Carroll County, MS',
       'Worth County, IA', 'Real County, TX', 'Bosque County, TX',
       'Pondera County, MT', 'Saluda County, SC', 'Dane County, WI',
       'Mason County, WA', 'Wichita County, KS', 'Liberty County, FL',
       'Greenlee County, AZ', 'Scott County, MS', 'Harford County, MD',
       'Cabell County, WV', 'Portage County, WI', 'Polk County, MO',
       'Rush County, IN', 'Rockcastle County, KY', 'Franklin County, AL',
       'Jim Wells County, TX', 'Baldwin County, GA', 'Dunklin County, MO',
       'Johnson County, NE', 'Alfalfa County, OK', 'Sutton County, TX',
       'Winston County, AL', 'Young County, TX', 'Glynn County, GA',
       'Bibb County, AL', 'Lee County, KY', 'Pope County, IL',
       'Owen County, KY', 'Langlade County, WI', 'St. Clair County, IL',
       'Howell County, MO', 'LaMoure County, ND', 'Hamilton County, NE',
       'Wright County, MO', 'Rusk County, WI', 'Schoharie County, NY',
       'Camden County, NJ', 'Corson County, SD', 'Fremont County, ID',
       'Perry County, OH', 'Garvin County, OK', 'Park County, WY',
       'Madera County, CA', 'Hardin County, TX', 'Dorchester County, MD',
       'Kittitas County, WA', 'Alpena County, MI', 'Llano County, TX',
       'Donley County, TX', 'Maricopa County, AZ', 'Choctaw County, MS',
       'Harrison County, OH', 'Nemaha County, KS', 'Lamar County, AL',
       'Carroll County, IA', 'Dewey County, OK', 'Newton County, TX',
       'Spink County, SD', 'Denver County, CO', 'Muskingum County, OH',
       'Gray County, KS', 'Uinta County, WY', 'Eureka County, NV',
       'Marquette County, WI', 'Cass County, MO', 'Eastland County, TX',
       'Walton County, FL', 'Emmons County, ND', 'Grant County, AR',
       'Perkins County, SD', 'Lafayette County, AR', 'Chatham County, NC',
       'Marshall County, MN', 'Robeson County, NC', 'Clark County, AR',
       'Wadena County, MN', 'Grainger County, TN', 'Oscoda County, MI',
       'Hood River County, OR', 'Catron County, NM', 'Fayette County, WV',
       'Weston County, WY', 'Rock County, NE', 'Caddo County, OK',
       'Washington County, GA', 'Skamania County, WA',
       'Le Flore County, OK', 'Kent County, MI', 'Hidalgo County, NM',
       'Scott County, IN', 'Champaign County, OH', 'Woodruff County, AR',
       'McPherson County, NE', 'Carbon County, MT', 'Otsego County, NY',
       'Miller County, AR', 'Deschutes County, OR', 'Columbia County, WI',
       'Curry County, NM', 'Buffalo County, WI', 'Lancaster County, VA',
       'Asotin County, WA', 'Minidoka County, ID', 'Hettinger County, ND',
       'Floyd County, IN', 'Barron County, WI', 'Simpson County, MS',
       'Pushmataha County, OK', 'Roosevelt County, MT', 'Dale County, AL',
       'Bee County, TX', 'Benton County, MN', 'St. Johns County, FL',
       'Mountrail County, ND', 'Grant County, WV', 'Isanti County, MN',
       'Meade County, KS', 'Campbell County, TN', 'Berks County, PA',
       'Carlisle County, KY', 'Jackson County, AL', 'Yamhill County, OR',
       'St. Bernard Parish, LA', 'Marion County, OR',
       'Hocking County, OH', 'Madison County, MS', 'Sheridan County, NE',
       'Swisher County, TX', 'Upshur County, TX', 'Pike County, AR',
       'Jeff Davis County, GA', 'Choctaw County, AL', 'Glenn County, CA',
       'Duchesne County, UT', 'Cameron County, PA', 'Hodgeman County, KS',
       'Butler County, MO', 'Marion County, MO', 'Drew County, AR',
       'Shelby County, IA', 'Moore County, TN', 'Osage County, MO',
       'Greer County, OK', 'Lincoln County, MN', 'Green Lake County, WI',
       'Bailey County, TX', 'Anderson County, TX', 'Wilkinson County, GA',
       'Union County, TN', 'Braxton County, WV', 'Martin County, NC',
       'Paulding County, OH', 'Monroe County, IN', 'Grant County, NE',
       'Itasca County, MN', 'Childress County, TX', 'McKenzie County, ND',
       'Sevier County, TN', 'Hitchcock County, NE', 'Cheyenne County, CO',
       'Teller County, CO', 'Randolph County, WV', 'Marengo County, AL',
       'Sibley County, MN', 'Monroe County, PA', 'Collin County, TX',
       'Merrimack County, NH', 'Putnam County, NY', 'Davis County, UT',
       'Bienville Parish, LA', 'Huntingdon County, PA', 'York County, NE',
       'Champaign County, IL', 'Hickman County, TN',
       'Clermont County, OH', 'Queens County, NY', 'Box Butte County, NE',
       'Lebanon County, PA', 'Saline County, IL', 'Owyhee County, ID',
       'Nance County, NE', 'Shoshone County, ID', 'Hot Spring County, AR',
       'San Jacinto County, TX', 'El Paso County, TX',
       'Greenup County, KY', 'Moore County, NC', 'Wibaux County, MT',
       'Dearborn County, IN', 'Stone County, MS', 'Iredell County, NC',
       'Douglas County, MO', 'Wythe County, VA', 'Big Horn County, MT',
       'Wilson County, TX', 'Billings County, ND', 'Skagit County, WA',
       'Saline County, NE', 'Granite County, MT', 'Carbon County, UT',
       'Power County, ID', 'Strafford County, NH', 'Avery County, NC',
       'St. Louis County, MO', 'Ogemaw County, MI', 'McKean County, PA',
       'Walworth County, SD', 'San Joaquin County, CA',
       'Leake County, MS', 'Carroll County, IL', 'Sequoyah County, OK',
       'Dundy County, NE', 'Harmon County, OK', 'Deuel County, SD',
       'Adair County, KY', 'Westchester County, NY',
       'Shiawassee County, MI', 'Macon County, MO', 'Caldwell County, MO',
       'Trousdale County, TN', 'Vermilion Parish, LA',
       'Bingham County, ID', 'Chautauqua County, NY',
       'Randall County, TX', 'Miller County, MO', 'Muscogee County, GA',
       'Gates County, NC', 'Pierce County, WI', 'Ouachita County, AR',
       'Tehama County, CA', 'Weakley County, TN', 'Galveston County, TX',
       'Poinsett County, AR', 'Converse County, WY',
       'Stephens County, OK', 'Sedgwick County, KS', 'Lewis County, MO',
       'Red River Parish, LA', 'Pepin County, WI', 'Allen County, KS',
       'Pemiscot County, MO', 'Tate County, MS', 'Coconino County, AZ',
       'Jefferson County, WA', 'Washington County, MO',
       'Wexford County, MI', 'Kings County, NY', 'Lawrence County, SD',
       'Richland County, ND', 'Randolph County, AL', 'Pike County, KY',
       'Kauai County, HI', 'Mitchell County, NC', 'Washington County, RI',
       'Wood County, TX', 'Jackson County, KS', 'Wallace County, KS',
       'Pendleton County, WV', 'Piscataquis County, ME',
       'Conejos County, CO', 'Lincoln County, WA', 'Caldwell Parish, LA',
       'Archer County, TX', 'Clark County, SD', 'San Miguel County, NM',
       'Jackson County, OR', 'Jackson County, IA', 'Clatsop County, OR',
       'Kanawha County, WV', 'Scott County, AR', 'Polk County, NE',
       'Echols County, GA', 'St. Charles County, MO', 'Putnam County, MO',
       'McCurtain County, OK', 'San Juan County, CO', 'Bell County, TX',
       'Prowers County, CO', 'Giles County, VA', 'Todd County, KY',
       'Ellsworth County, KS', 'Seward County, NE', 'Grand County, UT',
       'Dodge County, NE', 'Edwards County, TX', 'Cass County, MN',
       'Calumet County, WI', 'Brown County, SD', 'Hill County, TX',
       'Lafayette County, MS', 'Lake County, MI', 'Wayne County, OH',
       'Pawnee County, KS', 'Summit County, OH', 'Montgomery County, MO',
       'Hancock County, GA', 'Pasco County, FL', 'Lafayette County, FL',
       'Pulaski County, KY', 'Wheeler County, OR', 'Houston County, GA',
       'De Soto Parish, LA', 'Allen County, IN'], dtype=object)

In [39]:
# (3) Yelp API: Finding number of McDonald's per County

In [40]:
#Creating a Function that Defines Search Parameters for each County

#### WE NEED TO CREATE A SEPARATE CONFIG FILE CONTAINING AN API KEY SO THAT WE'RE NOT HARD-CODING AN API TO THE NOTEBOOK
api_key = "hmByUdhcTsKM5JLBq37ooaCx3D7jHwSi0UvVuwEnkeLWqjR67y8gvikOg1_Dy8kHOyamyarCr8jrZezYsBLdnicQat6RpFWY6unLYr7df72YUp-ve2yG66uPsV1oXXYx"
url = "https://api.yelp.com/v3/businesses/search"


def get_places(county, page_token):
    params = {
        "Authorization": api_key,
        "location":  county,
        "term": "mcdonalds",
        "limit": 50,
        "categories": "hotdogs",
        }
    
    #using the page token
    if page_token:
        print('using token')
        params['pagetoken'] = page_token

    response = requests.get(url, params=params, headers={"Authorization": f"Bearer {api_key}"})
 
    return response.json()

In [41]:
#creating a loop that uses previous params for each county
from time import sleep

#Defining a new list that will hold all of the restaurant results
rest_list = []

for county in county_pull:

    page_token = None
        
    #using a while loop to countiously loop until False    
    while True:
        
        places_data = get_places(county, page_token)

        #for loop to loop through multiple pages and grab each resturant
        #within each county
        for i in range(0 ,len(places_data['businesses'])):
            rest_list.append({'county': County, 'place_name': places_data["businesses"][i]["name"]})
        
        #using the page token until no more tokens left
        page_token = places_data.get('next_page_token', None)
        print(f'county {county} {page_token}')
        sleep(1)
        if not page_token:
            print('breaking')
            break

county Camden County, MO None
breaking
county King County, TX None
breaking
county Tensas Parish, LA None
breaking
county Sullivan County, NH None
breaking
county Raleigh County, WV None
breaking

In [44]:
# Turning the resulting list into a dataframe
rest_df = pd.DataFrame(rest_list)
rest_df.head(50)

               county                               place_name
0   Camden County, MO                               McDonald's
1   Camden County, MO                               McDonald's
2   Camden County, MO                               McDonald's
3   Camden County, MO                               McDonald's
4   Camden County, MO                               McDonald's
5   Camden County, MO                               McDonald's
6   Camden County, MO                               McDonald's
7   Camden County, MO                               McDonald's
8   Camden County, MO                                 Culver's
9   Camden County, MO  Zaxby's Chicken Fingers & Buffalo Wings
10  Camden County, MO                                 Culver's
11  Camden County, MO                                  Wendy's
12  Camden County, MO                          Jack in the Box
13  Camden County, MO                           Steak â€™n Shake
14  Camden County, MO                           Sonic Drive-In
15  Camden County, MO                           Eldon Drive-In
16  Camden County, MO                              Dairy Queen
17  Camden County, MO                         Hardees of Eldon
18  Camden County, MO                                Taco Bell
19  Camden County, MO                                   Arby's
20  Camden County, MO                                   Subway
21  Camden County, MO                                   Subway
22  Camden County, MO                       Taylor's Dairy Joy
23  Camden County, MO                       Swiss Inn Drive In
24  Camden County, MO                                   Subway
25  Camden County, MO                                  Wendy's
26  Camden County, MO                             Jimmy John's
27  Camden County, MO                              Taco John's
28  Camden County, MO                                   Subway
29  Camden County, MO                                   Subway
30  Camden County, MO                           Champs Chicken
31  Camden County, MO                                Taco Bell
32  Camden County, MO                              Burger King
33  Camden County, MO                                   Subway
34  Camden County, MO                           Sonic Drive-In
35  Camden County, MO                                   Subway
36  Camden County, MO                                   Subway
37  Camden County, MO                              Captain D's
38  Camden County, MO                                Taco Bell
39  Camden County, MO                           Sonic Drive-In
40  Camden County, MO                                  Wendy's
41  Camden County, MO                                  Wendy's
42  Camden County, MO                      Iberia Family Diner
43  Camden County, MO                                   Subway
44  Camden County, MO                           Sonic Drive-In
45  Camden County, MO                Dairy Queen Grill & Chill
46  Camden County, MO                                Taco Bell
47  Camden County, MO                                 Pita Pit
48  Camden County, MO                                   Subway
49  Camden County, MO                           Firehouse Subs

In [45]:
#Eliminating results that are not McDonalds
mcdonalds_df = rest_df.loc[rest_df["place_name"] == "McDonald's",:]

mcdonalds_df.head(50)

                  county  place_name
0      Camden County, MO  McDonald's
1      Camden County, MO  McDonald's
2      Camden County, MO  McDonald's
3      Camden County, MO  McDonald's
4      Camden County, MO  McDonald's
5      Camden County, MO  McDonald's
6      Camden County, MO  McDonald's
7      Camden County, MO  McDonald's
50       King County, TX  McDonald's
62     Tensas Parish, LA  McDonald's
63     Tensas Parish, LA  McDonald's
64     Tensas Parish, LA  McDonald's
65     Tensas Parish, LA  McDonald's
66     Tensas Parish, LA  McDonald's
67     Tensas Parish, LA  McDonald's
112  Sullivan County, NH  McDonald's
113  Sullivan County, NH  McDonald's
114  Sullivan County, NH  McDonald's
115  Sullivan County, NH  McDonald's
116  Sullivan County, NH  McDonald's
117  Sullivan County, NH  McDonald's
118  Sullivan County, NH  McDonald's
119  Sullivan County, NH  McDonald's
162   Raleigh County, WV  McDonald's
163   Raleigh County, WV  McDonald's
164   Raleigh County, WV  McDonald's
165   Raleigh County, WV  McDonald's
166   Raleigh County, WV  McDonald's
167   Raleigh County, WV  McDonald's
168   Raleigh County, WV  McDonald's
169   Raleigh County, WV  McDonald's
170   Raleigh County, WV  McDonald's
171   Raleigh County, WV  McDonald's

In [46]:
# Creating a dataframe that lists the number of McDonalds per County
mcdonalds_count = mcdonalds_df.groupby(["county"]).count()
mcdonalds_count_df = mcdonalds_count.rename(columns = {"place_name": "Number of Mcdonalds"})
mcdonalds_count_df

                     Number of Mcdonalds
county
Camden County, MO                      8
King County, TX                        1
Raleigh County, WV                    10
Sullivan County, NH                    8
Tensas Parish, LA                      6

In [ ]:
# Exporting the results to a CSV File
mcdonalds_count_df.to_csv("Mcdonalds_per_County.csv", index = True, header = True)